img {
    height: 100px;
    width: 100px;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px;

    font-family: Syncopate;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 100%);
}

a {
    margin-left: 10px;
    color: white;
}

p{
    font-family: Ubuntu;
    text-align: justify;
    padding: 10px;
    color: darkkhaki;
}

footer {
    text-align: center;
    width: 99vw;
}
.tituloLateral {
    text-align: center;
    color: white;
}
.tituloSuscripcion {
    text-align: center;
    color: white;
}
.suscribete {
    text-align: center;
}
.cuadroTexto {
    width: 49%;
}
.boton {
    width: 49%;
}

/*Mobile*/
@media screen and (min-width: 0px) and (max-width: 500px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        margin-left: 5%;
        margin-right: 5%;
    }
    #HR {
        display: none;
    }
    #LR {
        display: block;
    }
    header {
        background: black;
        width: 90vw;

        border-radius: 15%;
        margin-bottom: 20px;
    }
    header > h1 {
        text-align: center;
        display: block;
        font-weight: bold;
        color: white;
    }
    main {
        width: 90vw;
        padding-top: 20px;
        background: black;
        border-radius: 25px;
        text-align: center;

        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }
    
    aside {
        width: 90vw;
        margin-top: 25px;
        padding-bottom: 20px;
        background-color: black;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }

    .section {
        width: 90vw;
        margin-top: 25px;
        background-color: black;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }

    footer {
        margin-top: 20px;
        background-color: black;
        border-radius: 10px;
    }
    .pie {
        text-align: center;
    }

    div.section > h3 {
        text-align: center;
        color: white;
    }

    h1, h2, h3 {
        text-align: center;
    }
    img {
        margin: 0 auto;
    }
}
/*Tablet*/
@media screen and (min-width: 501px) and (max-width: 850px){
    header {
        display: flex;
        width: 100vw;
        height: 120px;

        background: black;

        border-radius: 15%;
        margin-bottom: 20px;
    }
    
    header > h1 {
        padding: 15px;
        font-weight: bold;
        color: white;
    }

    main {
        width: 100vw;

        padding-top: 20px;

        background: black;
        border-radius: 25px;

        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61); 
    }
    
    aside {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        background-color: black;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }
    #HR {
        display: flex;
    }
    #LR {
        display: none;
    }
    .aboutMe {
        width: 40vw;
    }
    .suscribete {
        width: 40%;
    }
    div.section > h3 {
        text-align: center;

        color: white;
    }
    .section {
        flex-basis: 29vw;

        background-color: black;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }
    .pie {
        text-align: center;
        background-color: black;
    }
}

/*Desktop*/
@media screen and (min-width: 851px) and (max-width: 3000px){
    header {
        display: flex;
        width: 100vw;
        height: 120px;

        background: black;

        border-radius: 15%;
        margin-bottom: 20px;
    }

    header > h1 {
        padding: 15px;
        font-weight: bold;
        color: white;
    }
    main {
        flex-basis: 59%;
        padding-top: 20px;

        background: black;
        border-radius: 25px;

        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }
    aside {
        display: block;
        flex-basis: 39%;

        background-color: black;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }
    form {
        align-items: center;
    }
    #HR {
        display: flex;
        margin-top: 10px;
    }
    #LR {
        display: none;
    }

    .section {
        flex-basis: 29vw;

        background-color: black;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0px 0px 20px 12px rgb(0, 34, 61);
    }

    div.section > h3 {
        text-align: center;

        color: white;
    }

    footer {
        margin-top: 20px;
        background-color: black;
        border-radius: 10px;
    }
    .pie {
        text-align: center;
    }
}