img {
    height: 100px;
    width: 100px;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    font-family: cursive;
}

footer {
    text-align: center;
    width: 100vw;
}
.tituloLateral {
    text-align: center;
}
.tituloSuscripcion {
    text-align: center;
}
.suscribete {
    text-align: center;
}
.cuadroTexto {
    width: 49%;
}
.boton {
    width: 49%;
}

/*Movile*/
@media screen and (min-width: 0px) and (max-width: 500px){
    #HR {
        display: none;
    }
    #LR {
        display: block;
    }
    header > h1 {
        width: 99vw;
        display: block;
    }
    body {
        display: flex;
        flex-direction: column;

    }
    h1, h2, h3 {
        text-align: center;
    }
    img {
        margin: 0 auto;
    }
}
/*Tablet*/
@media screen and (min-width: 501px) and (max-width: 850px){
    main {
        width: 100vw;
    }
    aside {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    header {
        display: flex;
        width: 100vw;
        height: 120px;
    }
    #HR {
        display: flex;
    }
    #LR {
        display: none;
    }
    .aboutMe {
        width: 40vw;
    }
    .suscribete {
        width: 40%;
    }
    div.section > h3 {
        text-align: center;
    }
    .section {
        flex-basis: 29vw;
    }
}

/*Desktop*/
@media screen and (min-width: 851px) and (max-width: 3000px){
    header {
        display: flex;
        width: 100vw;
        height: 120px;
    }
    main {
        flex-basis: 59%;
    }
    aside {
        display: block;
        flex-basis: 39%;
    }
    form {
        align-items: center;
    }
    #HR {
        display: flex;
    }
    #LR {
        display: none;
    }
    div.section > h3 {
        text-align: center;
    }
    .section {
        flex-basis: 29vw;
    }
}